/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter, Arial, sans-serif);
  color: var(--themes-main-color);
  max-width: 375px;
  background: var(--themes-background);
  font-variation-settings: "wght" var(--font-main-weight, 400);
}

.page-background {
  background-image: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color: var(--themes-background);
  margin-top: 102px;
  margin-bottom: 100px;
  width: 100%;
  border: 2px solid var(--themes-main-color, #000);
  font-family: var(--font-pressstart2p, fantasy);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-size: 49px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 25px;
  margin-left: 21px;
}

.theme-menu__button {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  position: relative;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -14px;
  animation: marker 0.5s infinite ease-in-out alternate;
}

.theme-menu__button::after {
  content: "";
  inline-size: 100%;
  block-size: 2px;
  background: var(--themes-main-color);
  left: 0;
  bottom: -2px;
  display: block;
  transform: scale(0);
  transition: transform 0.3s ease;
  transform-origin: left center;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
  outline: none;
}

.button {
  border: none;
  background-color: transparent;
}

.card {
  border: 2px solid var(--themes-main-color, #000);
  background: var(--themes-background, #fff);
}

.card__title {
  width: 82%;
  display: flex;
  align-self: stretch;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-variation-settings: "wght" var(--font-inter-secondary-weight, 700);
}

.card__text {
  margin: auto;
  margin-top: 26px;
  font-size: 18px;
  font-style: normal;
  line-height: 21px; /* 116.667% */
  width: 86%;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__watermark {
  position: absolute;
  right: 10px;
  top: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  color: var(--watermark-color);
  text-shadow: 0 0 1px var(--watermark-stroke-color);
  font-family: var(--font-pressstart2p, fantasy);
  line-height: normal;
  text-transform: uppercase;
  font-size: 14px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  font-family: var(--font-pressstart2p, fantasy);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.button-hover {
  background-color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
  overflow-x: hidden;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button-hover:focus {
  outline: none;
}

.button-hover:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
}

.button-hover::before {
  position: absolute;
  content: "";
  inline-size: 100%;
  block-size: 100%;
  background: var(--themes-main-color);
  left: 0;
  top: 0;
  display: block;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left center;
}

.button-hover:hover::before {
  transform: scaleX(1);
  outline: none;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--color-button-hover);
}

.like__container {
  margin-right: 22px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 24px;
  margin-bottom: 23px;
  gap: 9px;
}

.image__container {
  position: relative;
  border-bottom: 2px solid var(--themes-main-color);
  border-top: 2px solid var(--themes-main-color);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.button-save-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin: auto;
  margin-top: 54px;
  width: 83%;
  padding-bottom: 102px;
}

.svg-floppy {
  width: 28px;
  height: 28px;
  margin-top: 14px;
  color: var(--color-button-hover);
  mix-blend-mode: difference;
}

.button-save {
  font-family: var(--font-pressstart2p, "Courier New", fantasy);
}

.button-save__text-save {
  display: flex;
  font-size: 14px;
  font-style: normal;
  line-height: 90%; /* 12.6px */
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 13px;
  margin-right: 13px;
}

.dialog {
  position: fixed;
  overflow: hidden;
  border-width: 0;
  background: var(--modal-color);
  block-size: 100vb;
  inline-size: 100vi;
  inset: 0;
  max-block-size: 100vb;
  max-inline-size: 100vi;
}

.modal {
  position: sticky;
  border: 0.2rem solid var(--themes-main-color);
  margin: 0 auto;
  background-color: var(--themes-background, #fff);
  font-family: var(--font-pressstart2p, "Courier New", fantasy);
  inset-block-start: calc(50vb - (5.3rem / 2));
}

.modal__title {
  color: var(--themes-main-color, #000);
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
  width: 62%;
}

.modal__title-wrapper {
  display: flex;
  flex-direction: column;
}

.modal__inner-container {
  display: flex;
  text-transform: uppercase;
  gap: 20px;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 30px;
}

.modal__svg-floppy {
  color: var(--color-button-hover);
  mix-blend-mode: difference;
  width: 39px;
  height: 39px;
}

.modal__button {
  text-transform: uppercase;
  width: 257px;
  height: 38px;
  padding: 9px 17px;
}

.modal__dialog-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.black-and-white {
  filter: grayscale(100%);
}

.sepia {
  filter: sepia(0.5);
}

.saturated {
  filter: saturate(200%);
}

.diff-color {
  filter: hue-rotate(90deg) blur(3px);
}

.blurry {
  filter: blur(7px);
}

.inverse {
  filter: invert(1);
}

.orange {
  filter: hue-rotate(45deg);
}

.card__icon-button {
  padding: 0;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
}

.like-icon {
  width: 38px;
  height: 35px;
}

@media (width > 375px) {
  .page {
    min-width: 375px;
    max-width: 696px;
  }

  .modal {
    max-width: 357px;
  }
}

@media (1440px <= width) {
  .header__title {
    font-size: 65px;
    margin-top: 136px;
  }

  .header__subtitle {
    font-size: 23px;
  }

  .button-save {
    display: flex;
    align-items: end;
    height: 51px;
    min-width: 335px;
    padding: 0;
  }

  .card__text {
    min-width: 646px;
    margin-top: 28px;
  }

  .svg-floppy {
    width: 21px;
    height: 21px;
    margin-bottom: 10px;
    margin-left: 16px;
  }

  .button-save__text-save {
    margin-top: 10px;
    margin-left: 9px;
  }

  .modal {
    width: 357px;
  }

  .modal__title {
    max-width: 200px;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--themes-background)) or
    (text-stroke: 1px var(--themes-background))
) {
  .card__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--themes-background);
    text-stroke: 1px var(--themes-background);
  }
}
