/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter, Arial, sans-serif);
  color: var(--accent-color);
  max-width: 375px;
  background: var(--themes-background);
  font-variation-settings: 'wght' var(--font-main-weight, 400);
}

.page-background {
  background-image: repeating-linear-gradient(
      to right,
      var(--page-bg-color) 0 3px,
      transparent 3px 5px
    ),
    repeating-linear-gradient(var(--page-bg-color) 0 3px, transparent 3px 5px),
    linear-gradient(var(--page-bg-color-from), var(--page-bg-color-to) 100%);
  height: 528px;
  background-repeat: no-repeat;
}

.header {
  background-color: var(--themes-background);
  margin-top: 102px;
  margin-bottom: 107px;
  width: 100%;
  border: 2px solid var(--themes-main-color, #000);
  font-family: var(--font-pressstart2p, sans-serif);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-size: 49px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 25px;
  margin-left: 21px;
}

.theme-menu__button {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
.theme-menu__button::after {
  content: "";
  display: block;
  top: 20px;
  width: 0%;
  height: 3px;
  margin-top: -3px;
  opacity: 0.6;
  background: var(--accent-color);
  scale: 0;
  transition: scale 300ms, 0.5s;
}
.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  position: absolute;
  top: 20px;
  width: 85%;
  scale: 1;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  position: relative;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -14px;
  animation: marker 0.5s infinite ease-in-out alternate;
}

.button {
  border: none;
  background-color: transparent;
}

.card {
  border: 2px solid var(--themes-main-color, #000);
  background: var(--themes-background, #fff);
}

.card__title {
  width: 82%;
  display: flex;
  align-self: stretch;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card__text {
  margin: auto;
  margin-top: 26px;
  font-size: 18px;
  font-style: normal;
  line-height: 21px; /* 116.667% */
  width: 86%;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__watermark {
  position: absolute;
  right: 10px;
  top: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  color: var(--watermark-color);
  text-shadow: 1px 1px var(--watermark-stroke-color),
    -1px 1px var(--watermark-stroke-color),
    1px -1px var(--watermark-stroke-color),
    -1px -1px var(--watermark-stroke-color);
  font-family: var(--font-pressstart2p, sans-serif);
  line-height: normal;
  text-transform: uppercase;
  font-size: 14px;
}

.card__like-button {
  border: 2px solid var(--themes-main-color, #000);
  background: var(--themes-background, #fff);
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  font-family: var(--font-pressstart2p, sans-serif);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:hover {
  box-shadow: inset 13rem 0 0 0 var(--themes-main-color, #000);
  color: var(--themes-background, #fff);
  cursor: pointer;
}

.card__like-button:focus-visible {
  box-shadow: var(--themes-main-color) 6px 6px;
  color: var(--themes-main-color, #000);
}

.like__container {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 23px;
  margin-bottom: 23px;
  gap: 9px;
}

.image__container {
  aspect-ratio: 1;
  position: relative;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.button-save-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin: auto;
  margin-top: 54px;
  width: 83%;
  margin-bottom: 102px;
}

.svg-floppy {
  width: 28px;
  height: 28px;
  margin-top: 14px;
}

.button-save {
  border: 0.2rem solid var(--themes-main-color, #000);
  background-color: var(--themes-background, #fff);
  box-shadow: inset 0 0 0 0 var(--themes-main-color, #000);
  font-family: var(--font-pressstart2p, "Courier New", monospace);
  transition: 0.5s ease-out;
}

.button-save_animated:hover {
  box-shadow: inset 33.9rem 0 0 0 var(--themes-main-color, #000);
}

.button-save__text-save {
  display: flex;
  font-size: 14px;
  font-style: normal;
  line-height: 90%; /* 12.6px */
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 13px;
  margin-right: 13px;
}

.dialog {
  position: fixed;
  overflow: hidden;
  border-width: 0;
  background-color: #000000bf;
  block-size: 100vb;
  inline-size: 100vi;
  inset: 0;
  max-block-size: 100vb;
  max-inline-size: 100vi;
}

.modal {
  position: relative;
  border: 0.2rem solid var(--themes-main-color);
  margin: 0 auto;
  background-color: var(--themes-background, #fff);
  font-family: var(--font-pressstart2p, "Courier New", monospace);
  inset-block-start: calc(50vb - (5.3rem / 2));
}

.modal__title {
  color: var(--themes-main-color, #000);
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
  width: 62%;
}

.modal__title-wrapper {
  display: flex;
  flex-direction: column;
}

.modal__inner-container {
  display: flex;
  text-transform: uppercase;
  gap: 20px;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 30px;
}

.modal__svg-floppy {
  color: var(--themes-main-color, #000);
  width: 39px;
  height: 39px;
}

.modal__button {
  border: 2px solid var(--themes-main-color, #000);
  background: var(--themes-background, #fff);
  box-shadow: inset 0 0 0 0 var(--themes-main-color, #000);
  color: var(--themes-main-color, #000);
  text-transform: uppercase;
  transition: 0.5s ease-out;
  width: 257px;
  height: 38px;
  padding: 9px 17px;
}

.modal__button_animated:hover {
  box-shadow: inset 29.3rem 0 0 0 var(--themes-main-color, #000);
}

.modal__dialog-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.black-and-white {
  filter: grayscale(100%);
}

.sepia {
  filter: sepia(0.5);
}

.saturated {
  filter: saturate(200%);
}

.diff-color {
  filter: hue-rotate(90deg) blur(3px);
}

.blurry {
  filter: blur(7px);
}

.inverse {
  filter: invert(1);
}

.orange {
  filter: hue-rotate(45deg);
}

.card__icon-button {
  padding: 0;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-accent);
}

@media (width > 375px) {
  .page {
    min-width: 375px;
    max-width: 696px;
  }
}

@media (1440px <= width) {
  .header__title {
    font-size: 65px;
  }

  .header__subtitle {
    font-size: 23px;
  }

  .button-save {
    display: flex;
    align-items: end;
    height: 51px;
  }

  .svg-floppy {
    width: 21px;
    height: 21px;
    margin-bottom: 9px;
  }

  .modal {
    width: 357px;
    min-height: 193px;
  }

  .modal__title {
    width: 200px;
  }
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .watermark::before {
    text-shadow: none;
    -webkit-text-stroke: 0.1rem var(--themes-background, #fff);
    text-stroke: 0.1rem var(--themes-background, #fff);
  }
}

@supports (
  (font-variation-settings: 'wght' var(--font-main-weight)) or
    (font-variation-settings: 'wght' normal)
) {
  .page {
    font-variation-settings: 'wght' var(--font-main-weight);
  }
}